:root {
  --color-primary: #28cd41;
  --color-text-dark: #364d39;
  --color-bg: #e1f5e4;
  --color-text-light: #e1f5e4;
  --color-secondary: #28cd93;
  --primary-gradient: linear-gradient(#6bf27f, #28cd41);
  --secondary-gradient: linear-gradient(#ffffff, #e9f2eb);
  --color-input: #e1f5e4;
  --color-red-pastel: #f5e3e1;
  --color-card-gradient: linear-gradient(#5c7ae8, #294ccc);

  --body-text: 1.6rem;
  --shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.16);
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 114rem;

  &__back {
    width: 4.4rem;
    margin-left: -0.9rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  &__identifier {
    margin-top: -1rem;
    font-size: 1.6rem;
  }

  &__active {
    font-weight: bold;
  }
}
