<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="/img/logo.png"/>
        </div>
        <div class="sidebar-brand-text mx-3">Univtraze</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Overview
    </div>

    <!-- Nav item -->
    <li class="nav-item">
        <a class="nav-link" href="disease-reports">
            <i class="fas fa-fw fa-list-ul"></i>
            <span>Disease reports</span></a>
    </li>

    <!-- Nav item -->
    <li class="nav-item">
        <a class="nav-link" href="emergency-reports">
            <i class="fas fa-fw fa-table"></i>
            <span>Emergency reports</span></a>
    </li>

    <!-- Nav item -->
    <li class="nav-item">
        <a class="nav-link" href="rooms">
            <i class="fas fa-fw fa-door-open"></i>
            <span>Rooms</span></a>
    </li>

    <!-- Nav item -->
    <li class="nav-item">
        <a class="nav-link" href="attendance">
            <i class="fas fa-fw fa-building"></i>
            <span>Attendance</span></a>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClinic"
            aria-expanded="true" aria-controls="collapseClinic">
            <i class="fas fa-fw fa-folder"></i>
            <span>Clinic</span>
        </a>
        <div id="collapseClinic" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Clinic:</h6>
                <a class="collapse-item" href="auth/login">New Clinic Users</a>
                <a class="collapse-item" href="auth/login">Clinic Users</a>
                <a class="collapse-item" href="auth/login">Edit Clinic User</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - App users Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
            aria-expanded="true" aria-controls="collapseUsers">
            <i class="fas fa-fw fa-folder"></i>
            <span>App</span>
        </a>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Users:</h6>
                <a class="collapse-item" href="auth/login">App Users</a>
                <a class="collapse-item" href="auth/login">Edit App User</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>